p{ font-family: "Verdana"; } 


* {
    box-sizing: border-box;
}
.column {
  position: absolute; left: 150px;top: 250px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.menu ul {list-style-type: none;
    margin: 0;
    padding: 0;}
.menu li {
	font-family: "Verdana";
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #FF0000;
}
.menu li:hover {
	font-family: "Verdana"
    background-color: #FF0000;
    color: #ffffff
}
#main{position: absolute; right: 700px; top: 200px;}
#timeline{position: absolute; left: 500px; top: 100px;}


#pic1889{position: absolute; right: 100px; top: 100px;}
#pic1900{position: absolute; right: 100px; top: 900px;} 
#pic1904{position: absolute; right: 700px; top: 1100px;}
#pic1907-1909{position: absolute; right: 100px; top: 1800px;}
#pic1910{position: absolute; right: 100px; top: 3000px;}
#pic1917{position: absolute; right: 650px; top: 3500px;}
#pic1918{position: absolute; right: 300px; top: 4300px;}
#pic1920{position: absolute; right: 500px; top: 5100px;}

#pic1924{position: absolute; right: 300px; top: 100px;}
#pic1927{position: absolute; right: 100px; top: 900px;} 
#pic1931{position: absolute; right: 130px; top: 1700px;}
#pic1933-1935{position: absolute; right: 100px; top: 2500px;}
#pic1936{position: absolute; right: 10px; top: 3300px;}
#pic1937{position: absolute; left: 235px; top: 4000px;}
#pic1942{position: absolute; right: 100px; top: 4850px;}
#pic1946{position: absolute; right: 650px; top: 5600px;}
#pic1947{position: absolute; right: 150px; top: 5900px;}
#pic1948{position: absolute; left: 350px; top: 6500px;}
#pic1949{position: absolute; right: 100px; top: 7210px;}
#pic1950{position: absolute; left: 300px; top: 8000px;}

#pic1952{position: absolute; right: 100px; top: 50px;}
#pic1953{position: absolute; left: 300px; top: 800px;} 
#pic1954{position: absolute; right: 10px; top: 1530px;}
#pic1955{position: absolute; right: 650px; top: 2230px;}
#pic1956{position: absolute; right: 100px; top: 3000px;}
#pic1959{position: absolute; left: 300px; top: 3850px;}
#pic1960{position: absolute; right: 100px; top: 4500px;}
#pic1965{position: absolute; right: 100px; top: 5300px;}
#pic1966{position: absolute; left: 350px; top: 5900px;}
#pic1970{position: absolute; left: 350px; top: 6750px;}
#pic1974{position: absolute; left: 350px; top: 7550px;}
#pic1978{position: absolute; left: 300px; top: 8400px;}

#pic1982{position: absolute; right: 100px; top: 50px;}
#pic1984{position: absolute; left: 300px; top: 800px;} 
#pic1986{position: absolute; right: 10px; top: 1530px;}
#pic1989{position: absolute; right: 650px; top: 2230px;}
#pic1991{position: absolute; right: 100px; top: 3000px;}
#pic1993{position: absolute; left: 300px; top: 3600px;}
#pic1994{position: absolute; right: 100px; top: 4300px;}
#pic1997{position: absolute; right: 300px; top: 4800px;}
#pic2000{position: absolute; left: 400px; top: 5600px;}

#pic2004{position: absolute; right: 100px; top: 50px;}
#pic2006{position: absolute; left: 300px; top: 800px;} 
#pic2007{position: absolute; right: 10px; top: 1530px;}
#pic2008{position: absolute; right: 650px; top: 2230px;}
#pic2010{position: absolute; right: 100px; top: 3000px;}
#pic2012{position: absolute; left: 300px; top: 3600px;}
#pic2014{position: absolute; right: 100px; top: 4300px;}
#pic2016{position: absolute; right: 300px; top: 5100px;}
#pic2018{position: absolute; left: 350px; top: 5800px;}

@media all and (max-width: 767px){}